<!DOCTYPE html>
<html lang="es">
<head>
  
  {% block title %}<title>Mercado defensores</title>{% endblock %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
 <header id="header" class="">
   <nav class="#6a1b9a purple darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'url_inicio' %}" class="brand-logo left">Logo</a>
    
      <ul class="right show-on-med-and-down login" >
        <li><a class="login" href="#">Ingresar</a></li>
        <li><a class="login" href="#">Registro</a></li>
      </ul> 
    </div>  
  </nav>
 </header><!-- /header -->

 <!--<MARQUEE> <h3>Mercado defensores de la repubica  promociones del dia</h3> </MARQUEE>-->

<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="{% static 'image/defensores.jpg' %}">
      </div>
      <a href="#user"><img class="circle" src="{% static 'image/defensores.jpg' %}"></a>
      <a href="#name"><span class="white-text name">Mercado</span></a>
      <a href="#email"><span class="white-text email">Facebook</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="{% url 'url_categoria' %}">Categorias</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
  <div class="container-fluid">

    <div class="row">
      <div class="col s12 m1">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <!--<li><a class="waves-effect waves-light btn" href="{% url 'url_inicio' %}">Home</a></li>
          <li><a class="waves-effect waves-light btn" href="">Categorias</a></li>
          <li><a class="waves-effect waves-light btn" href="">Negocios</a></li>-->
      </ul>
     {% endblock %}
      </div>
      <div class="col s12 m11 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
  {% block footer %}
  <footer class="page-footer #6a1b9a purple darken-3">
    <div class="footer-copyright">
        <div class="container">
            Desarrollo
            <a class="grey-text text-lighten-4 right" href="https://funnyfrontend.com/">Web</a>
        </div>
    </div>
  </footer>
  {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>

<script>
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    //var instances = M.Sidenav.init(elems, options);

    /*inicializacion de ventana modal
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, opacity(0.5));*/
  });

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('select').formSelect();
    $('.modal').modal();
  });
</script>