<!DOCTYPE html>
<html lang="es">
<head>

  {% block title %}<title>Mercado defensores</title>{% endblock %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<nav class="blue" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo left">Logo</a>
    
    <ul class="right show-on-med-and-down login" >
      <li><a class="login" href="#">Ingresar</a></li>
      <li><a class="login" href="#">Registro</a></li>
    </ul>
    
  </div>  
</nav>

  <div class="container-fluid">

    <div class="row">
      <div class="col s12 m2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a class="waves-effect waves-light btn" href="{% url 'url_categorias' %}">Home</a></li>
          <li><a class="waves-effect waves-light btn" href="">Categorias</a></li>
          <li><a class="waves-effect waves-light btn" href="">Negocios</a></li>
      </ul>
     {% endblock %}
      </div>
      <div class="col s12 m10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>