/*
    AUTHOR:         luis mora
    CREATION DATE:  05/05/2021
    DESCRIPTION:    hoja de estilos general

    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

        DATE    ||  MODIFIED_BY ||  DESCRIPTION
    --------------------------------------------------------
                ||              ||  
                ||              ||  
¨*/

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.login{
  color: #F5F9F8;
}

form{
  width:300px;
  padding:16px;
  border-radius:10px;
  margin:auto;
  background-color:#D4F4F5;
}

form label{
  width:72px;
  font-weight:bold;
  display:inline-block;
}

form input[type="text"],
form input[type="email"]{
  width:180px;
  padding:3px 10px;
  border:1px solid #FFFFFF;
  border-radius:3px;
  background-color:#FFFFFF;
  margin:8px 0;
  display:inline-block;
}

.personal{
  width:180px;
  padding:3px 10px;
  border:1px solid #FFFFFF;
  border-radius:3px;
  background-color:#FFFFFF;
  margin:8px 0;
  display:inline-block;
}

table tr:hover {
  background-color: #E4D9D9;
  cursor: pointer;
}

.selected {
    background-color: #D4F4F5;
    color: #9B6E6E;
}