{% extends "base.html" %}

{% block content %}
<h1>Mercado Defensores de la Republica</h1>

  <p>Bienvenido a <em>Mercado Defensores de la Republica</em>, puedes realizar tus compas y solicitar que te las lleven o pedir y solo pasar a recoger tus productos</p>

<h2>Contenido Dinamico</h2>

  <p>Lista de productos</p>
  <ul>
    <li><strong>Producto</strong> {{ num_books }}</li>
    <li><strong>Cantidad</strong> {{ num_instances }}</li>
    <li><strong>Cantidad disponible</strong> {{ num_instances_available }}</li>
    <li><strong>Local</strong> {{ num_authors }}</li>
  </ul>

{% endblock %}