{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Mercado Defensores de la Republica</h1>

  <div class="container white" id="categoria">
        <div class="col s12 m8">
      <div class="row">
      <div class="col s12 m12">
           <div class="" style="height:188px;margin-top:25px;margin-bottom:5px;" id="cat_deseleccionada">
      <div class="" style="margin-top:20px;margin-left:10px;">
        <div class="" style="margin-top:-15px;">
          <table id="cat_table" class="responsive-table display">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Tipo</th>            
              </tr>
            </thead>
            <tbody id="response">
              <!--{% for cat in categorias %}
                <tr data-value="{{ cat.catetipo }}" onclick="local_buscar({{ cat.idcategoria }});">
                  <td>{{ cat.idcategoria }}</td>
                  <td>{{ cat.nombre }}</td>
                  <td>{{ cat.catedescripcion }}</td>
                  <td>{{ cat.catetipo }}</td>
                </tr>
              {% endfor %}-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
      </div>
    
      </div>
    </div>
      
      

      <div class="col s12 m4">
        <div class="row">
          <!--Colocamos el formulario en una nueva fila y reglon-->
          <div class="col s12 m12">
            <form method="POST" id="form" onsubmit="local_categoria_insertar(event);" accept-charset="utf-8">
            {% csrf_token %} 
              <div class="row">
                <div class="input-field col s12 m1">
                <!--<input  id="first_name" type="text" class="validate">-->      
                </div>
                <div class="input-field col s12 m10">
                  {{ form.nombre }}
                  <label for="first_name" class="Active">Nombre<i class="Small material-icons right">mode_edit</i></label>
                </div>
                <div class="input-field col s12 m1">
                <!--<input  id="first_name" type="text" class="validate">-->
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m1">
                <!--<input  id="first_name" type="text" class="validate">--> 
                </div>
                <div class="input-field col s12 m10"> 
                  {{ form.catedescripcion }}
                  <label for="first_name" class="Active">Descripción<i class="Small material-icons right">mode_edit</i> </label>
                </div>
                <div class="input-field col s12 m1">
                <!--<input  id="first_name" type="text" class="validate">--> 
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m1">
                <!--<input  id="first_name" type="text" class="validate">-->
                </div>
                <div class="input-field col s12 m10">
                <!--{{ form.catetipo }}-->
                  <select id="catetipo" class="icons">
                  <option value="A" data-icon="{% static 'image/Casa.jpg' %}">Articulos para el hogar</option>
                  <option value="G" data-icon="{% static 'image/Dulces.jpg' %}">Golosinas</option>
                  <option value="C" data-icon="{% static 'image/Comestibles.jpg' %}" class="left"  >Comestibles</option>
                  <option value="J" data-icon="{% static 'image/Juguetes.jpg' %}">Juguetes</option>
                  <option value="B" data-icon="{% static 'image/Belleza.jpg' %}">Articulos de belleza</option>        
                  </select>

                  <label for="first_name">Tipo</label>
                </div>
                <div class="input-field col s12 m1">
                <!--<input  id="first_name" type="text" class="validate">--> 
                </div>
              </div>
              <div class="row">
                
                <div class="col s12 m12">
                  <center>
                  <button class="btn waves-effect waves-light" type="submit" name="action">Guardar/Actualizar
                  <i class="material-icons right">cloud</i>
                  </button>
                  </center>
                </div>
                
              </div>
              <div class="row">
                <div class="col s12 m1">
                <!--<input  id="first_name" type="text" class="validate">-->
                </div>
                <div class="col s12 m10">
                  <center>
                  <button class="btn waves-effect waves-light #f44336 red " name="action" onclick="local_eliminar(event);">Eliminar
                  <i class="material-icons right">clear</i>
                  </button>
                  </center>
                </div>
                <div class="col s12 m1">
                
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div><!--cierre del row principal-->
  </div>

<!--Contenedor de tabla con ajax-->
<!--<div class="container">
  <div class="section">
    <table id="cat_table" >
      <caption>Categorias optenidas con ajax</caption>
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Catetipo</th>
        </tr>
      </thead>
      <tbody id="response">
        
      </tbody>
    </table>
  </div>
</div>-->

<!-- contenedor de las listas-->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="col s12">
       <div class="bordeSeccion" style="height:188px;margin-top:25px;margin-bottom:5px;" id="cat_deseleccionada">
      <div class="form-group col-md-12 formFila" style="margin-top:20px;margin-left:10px;">
        <div class="form-row col-md-11" style="margin-top:-15px;">
          <table id="cat_table" class="table table-responsive table-bordered table-sm table-hover">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Tipo</th>            
                <th>Acción</th> 
              </tr>
            </thead>
            <tbody id="con_cat_selecciona">
              {% for cat in categorias %}
                <tr data-value="{{ cat.catetipo }}" onclick="local_buscar({{ cat.idcategoria }});">
                  <td>{{ cat.idcategoria }}</td>
                  <td>{{ cat.nombre }}</td>
                  <td>{{ cat.catedescripcion }}</td>
                  <td>{{ cat.catetipo }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
      </div>
    </div>
    
  </div>

  {% block footer %}

  {% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">   
  
  /*se declara variable para algun pk seleccionado*/
  var pk_edicion = null;
  var btn_Editar = document.getElementById("btn_Editar");
  var btn_Eliminar = document.getElementById("btn_Eliminar");
  var lista = document.getElementById("cat_selecciona");
  let res = document.getElementById('response');
  //inciamos el select del form
  $(document).ready(function(){
    retorna_Articulos_Hogar();
  });

	function local_categoria_insertar(e){
		e.preventDefault(); //evitamos que el formulario se envie 
		//let serializeData = $("#cn_categoria").serialize();
		//var cateclave1 = document.getElementById('cateclave').value; ,idcategoria:cateclave1
    var nombre1 = document.getElementById('nombre').value;
		var catedescripcion1 = document.getElementById('catedescripcion').value;
		var catetipo1 = document.getElementById('catetipo').value;

    if (pk_edicion != null) 
    {
      var urlTemp = "{% url 'url_categoria_actualizar' pk='parametro' %}";
      urlTemp = urlTemp.replace('parametro', window.pk_edicion);

      $.ajax({
        url: urlTemp,
        type: "POST",
        'data': {csrfmiddlewaretoken :'{{csrf_token}}',nombre:nombre1,catedescripcion:catedescripcion1, catetipo:catetipo1},
        success: function (data) {
          var valido = data["valido"];
          console.log(valido);
          document.getElementById('nombre').value= "";
          document.getElementById('catedescripcion').value= "";
          document.getElementById('catetipo').value= "";
          M.toast({html: 'Categoria Actualizada', classes: 'rounded'});
          retorna_Articulos_Hogar();
        }
      });
      window.pk_edicion = null
    }else{
      // AGREGAR
      $.ajax({
        url: '{%url 'url_categoria_new' %}',
        type: "POST",
        'data': {csrfmiddlewaretoken :'{{csrf_token}}',nombre:nombre1,catedescripcion:catedescripcion1, catetipo:catetipo1},
        success: function (data) {
          var valido = data["valido"];
          //location.reload();
          //document.getElementById('cateclave').value = "";
          
          document.getElementById('nombre').value= "";
          document.getElementById('catedescripcion').value= "";
          document.getElementById('catetipo').value= "";
          M.toast({html: 'Categoria Agregada', classes: 'rounded'});
          retorna_Articulos_Hogar();
          //cn_cue_contenedor.load("{%url 'url_categoria'%}");
        }
      });
    }
		
	}

  function local_eliminar(e)
  {
    e.preventDefault();
    if (pk_edicion != null) 
    {
      var urlTemp = "{% url 'url_categoria_delete' pk='parametro' %}";
      urlTemp = urlTemp.replace('parametro', window.pk_edicion);

      $.ajax({
        url: urlTemp,
        type: "POST",
        'data': {csrfmiddlewaretoken :'{{csrf_token}}'},
        success: function (data) {
          var valido = data["valido"];
          console.log(valido);
          document.getElementById('nombre').value= "";
          document.getElementById('catedescripcion').value= "";
          document.getElementById('catetipo').value= "";
          M.toast({html: 'Categoria Eliminada', classes: 'rounded'});
          retorna_Articulos_Hogar();
          }
        });
    }else{
      M.toast({html: 'Debe seleccionar una categoría', classes: 'rounded'});
    }
  }

  function local_buscar(pk) {

    {% for cat in categorias %}
      pkcat =  {{ cat.idcategoria  }};
      if( pkcat == pk  ){

        nombre = "{{ cat.nombre }}";
        descripcion = "{{ cat.catedescripcion }}";
        tipo = "{{ cat.catetipo }}";
        $("#btn_Editar").removeAttr("disabled");
        //$("#btn_Editar").attr("disabled", "disabled");
        
        document.getElementById('nombre').value = nombre;
        document.getElementById('catedescripcion').value = descripcion;
        document.getElementById('catetipo').value= tipo;
        M.updateTextFields();
        M.toast({html: 'Se puede editar', classes: 'rounded'});
      }
      
    {% endfor %}
    console.log(pk);
    window.pk_edicion = pk;

  }

  function retorna_Articulos_Hogar()
  {
    // consulta hacia la base de datos sobre articulos del hogar
      $.ajax({
        url: '{%url 'url_Articulos_hogar' %}',
        type: "POST",
        'data': {csrfmiddlewaretoken :'{{csrf_token}}',catetipo:"A"},
        success: function (data) {
            var valido = data["valido"];
            var dato = data.valido;
            //console.log(data);
            res.innerHTML = '';
            for(let item of dato)
            {
              //console.log(item.nombre);
              res.innerHTML += `
              <tr data-value="${item.catetipo}" onclick="local_buscar(${item.idcategoria});">
                <td>${item.idcategoria}</td>
                <td>${item.nombre}</td>
                <td>${item.catedescripcion}</td>
                <td>${item.catetipo}</td>
              </tr>`
            }
         }
      });
  }

  var table = document.getElementById('cat_table'),
    selected = table.getElementsByClassName('selected');
table.onclick = highlight;
function highlight(e) {
    if (selected[0]) selected[0].className = '';
    e.target.parentNode.className = 'selected';
}



</script>

{% endblock %}


